$pointerSize = 20px

.facepointer-pointer
  width $pointerSize
  height $pointerSize
  border-radius $pointerSize
  background red
  position fixed
  top 0
  left 0
  z-index 999999
  display none

.facepointer-started
  .facepointer-pointer
    display block

// Buttons
.facepointer-stop
  display none

.facepointer-started
  .facepointer-start
    display none
  
  .facepointer-stop
    display block
    &a, &button
      display inline-block